

input[type="text"], textarea {
    outline: none;
    box-shadow: none !important;
    border: 1px solid #ccc !important;
}

.query-logo {
    position: relative;
    top: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

