


input[type="text"], textarea {
    outline: none;
    box-shadow: none !important;
    border: 1px solid #ccc !important;
}

.query-logo {
    position: relative;
    top: 5px;
    font-family: 'Courier New', Courier, monospace;
}


.advanced-query-logo {
    position: relative;
    text-align: center !important;
    font-family: 'Courier New', Courier, monospace;
}

