
<!DOCTYPE html>
<html lang="en">
<head>
    <title>SearchEngine</title>

    <!-- Meta-data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../js/utilities.js"></script>
    <script src="../js/advancedclient.js"></script>

    <link rel="shortcut icon" href="">

  </head>
  <body>

      <div class="search-engine">
        
        <div class="advanced-wrapper">
          <div class="advanced-search">
            <div class=""></div>
            <div class="advanced-bar">
              <input class="advanced-text-query" id="responsive-input" type="text" placeholder="Enter search..." >
              <input class="advanced-text-subjects" id="responsive-input" type="text" placeholder="Subjects" >
              <input class="advanced-text-authors" id="responsive-input" type="text" placeholder="Authors" >
              <input class="advanced-text-date" id="responsive-input" type="text" placeholder="Date" >
              <input class="advanced-search-button" id="clickable-button" type="submit" value="Advanced Search" name="AdvancedSearch">
            </div>
          </div>
          <div class="advanced-results-wrapper">
            <div class="advanced-results"></div>
          </div>
        </div>
        
      </div>

  </body>
</html>

