
<!DOCTYPE html>
<html lang="en">
<head>
    <title>SearchEngine</title>

    <!-- Meta-data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.js" ></script>

    <script src="../js/utilities.js"></script>
    <script src="../js/similarityclient.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.css" />
    <link rel="stylesheet" href="../style/stylesheet.css" />
    <link rel="shortcut icon" href="">

  </head>
  <body>

      <div class="search-engine">
        <div class="similarity-wrapper">

          
          <div id="network">
            <div class="vis-network" tabindex="900" style="position: relative; overflow: hidden; touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); width: 100%; height: 100%;">
              <canvas style="position: relative; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); width: 100%; height: 100%;" width="900" height="900"></canvas>
            </div>
          </div>
          

          <!--<div id="network"></div>-->
          

        </div>
      </div>

  </body>
</html>

