
<!DOCTYPE html>
<html lang="en">
<head>
    <title>SearchEngine</title>

    <!-- Meta-data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script src="../js/controller.js"></script> -->
    <script src="../js/logger.js"></script>

    <link rel="shortcut icon" href="">

  </head>
  <body>

      <div class="search-engine">
        <div class="similarity-wrapper">
          <div class="similarity-layout"></div>
          <div class="similarity-description">Similarity Web</div>
        </div>
      </div>

  </body>
</html>

